@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&display=swap');
.background{
  background-color: #0C0C1C;
  color: aliceblue;
    font-family: 'AR One Sans', sans-serif;
}
body{
  margin: 10px;
}